{% extends 'base.html.twig' %}

{% block title %} {{  lebron.name }} {% endblock %}


{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeBron James</title>
</head>
    <h1>{{  lebron.name  }}</h1>
    <p>{{  lebron.description }}</p>
    <p>LeBron James est considéré comme l'un des meilleurs joueurs de basketball de tous les temps.</p>

<a href="{{ path('app_home') }}">Home</a>

{% endblock %}