{% extends 'base.html.twig' %}

{% block title %}Sujets créés par moi{% endblock %}

{% block body %}
  <div class="container">
    <h1>Sujets créés par moi</h1>
    {% if subjects is not empty %}
      <ul>
        {% for subject in subjects %}
          <li>{{ subject.name }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Aucun sujet trouvé.</p>
    {% endif %}
  </div>
{% endblock %}
